@model HomeVM

<div class="text-center">
    <h1 class="display-4">Saldo Atual: @Model.SaldoAtual</h1>
    <div class="row">
        
        <form asp-action="Diario" method="get">
        <div class="form-group">
            <label for="Hoje" class="control-label">Fluxo do dia</label>
            <div class="input-group mb-3">
                <input asp-for="Dia" for="dia" type="text" class="form-control" placeholder="00/00/0000"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Consultar</button>
                </div>
            </div>

        </div>
        
        </form>
    </div>
    
    <a class="btn btn-primary" asp-action="Lancar">Novo Lançamento</a>
</div>


@section Scripts
    {
<script>
    function consultar(){

                window.location.href = `@Url.Action("Index", new { user = Context.Request.Query["user"] })`;
    }
</script>
    }